<div style="background-color:#0F501D">
    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel" data-interval="0">

        <div class="carousel-inner  ">
            <hr>
            <div class="carousel-item active">


                <div class="row d-flex justify-content-center  fundocarrosel">
                    <div class="col-md-6">
                        <img class="d-block w-100" src="../../assets/img/Soso/2.jpg" alt="Primeiro Slide">

                    </div>
                    <div class="col-md-5 mt-4">
                        <h1 class="d-block w-100 font-weight-bold fontH1 mt4 ft">SOBRE NÓS</h1>
                        <p class="d-block w-100 text-white text-justify mt-3 mb-3 fs-5
                        ">
                            Blog do Thiago Pedroso!</p>

                        <p class="d-block w-100 text-white text-justify mt-3 mb-3 fs-5
                            "> Eu, filho de, Marie, uma mulher preta. Me chamo, Thiago! Sou pai de uma menina
                            encantadora, Sofia, que com apenas oito aninhos, transmite alegria em todo lugar em que
                            passa. Tendo também, uma irmã gêmea, Thainá, que a dia após dia, vamos comprovando cada vez
                            mais a conexão que só os gêmeos têm. Considero-me assim, privilegiado por ser cercado de
                            tantas mulheres guerreiras que são sinônimos de inspiração..</p>

                        <video class="w-100" width="400" height="300" controls
                            src="../../assets/img/VideoSosoNenis/Vamo São Paulo - Soso nenis.mp4"></video>

                    </div>


                </div>


            </div>




            <div class="carousel-item  mb-3 mt-4">

                <div class="row d-flex justify-content-center fundocarrosel text-white ">

                    <div class="col-md-12 d-block w-100 font-weight-bold fontH1 mt-1 text-center mb-4">
                        <h1>Umas fotos minhas:</h1>
                    </div>

                    <div class="mb-5">

                        <div class="row d-flex justify-content-center">
                            <div class="col-md-12 ">


                                <div class="card-deck">



                                    <div class="col-md-1"></div>

                                    <div class="col-md-3 d-flex justify-content-center ">

                                        <div>

                                            <div class="row d-flex justify-content-center">
                                                <div class="zoom img1 img  d-flex align-items-center">

                                                    <img src="../../assets/img/imgThiagao/foto boa de autoria.jpeg " alt=""
                                                        class="img  ">

                                                </div>
                                            </div>

                                            <div class="row d-flex align-items-center">

                                                <div class="title  text-center ">Thiago Pedroso</div>
                                                <div class="title  text-center ">Desenvolvedor Fullstack</div>

                                                <div class="row d-flex justify-content-center ">

                                                    <a class="mr-3 mt-3 " href="https://github.com/ThiagaoCode"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/github.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>

                                                    <a class="mr-3 mt-3" href="https://www.linkedin.com/in/thipedroso/"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/linkedin.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>


                                                </div>


                                            </div>



                                        </div>

                                    </div>


                                    <div class="col-md-3  d-flex justify-content-center">

                                        <div>

                                            <div class="row d-flex justify-content-center">
                                                <div class="zoom img1 img d-flex align-itemscenter">

                                                    <img src="../../assets/img/imgThiagao/Foto curriculo canvas.png" alt=""
                                                        class="img ">

                                                </div>
                                            </div>

                                            <div class="row d-flex align-items-center">

                                                <div class="name text-center">Thiago Pedroso</div>

                                                <div class="title  text-center">Desenvolvedor Fullstack</div>

                                                <div class="row d-flex justify-content-center">

                                                    <a class="mr-3 mt-3 " href="https://github.com/ThiagaoCode"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/github.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>

                                                    <a class="mr-3 mt-3" href="https://www.linkedin.com/in/thipedroso/"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/linkedin.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>

                                                </div>



                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-md-3  d-flex justify-content-center">

                                        <div>

                                            <div class="row d-flex justify-content-center">
                                                <div class="zoom img1 img  d-flex align-itemscenter">

                                                    <img src="../../assets/img/imgThiagao/thi generation 01 IMG_2851.JPG" alt="" class="img ">

                                                </div>
                                            </div>

                                            <div class="row d-flex align-items-center">

                                                <div class="name text-center">Thiago Pedroso</div>

                                                <div class="title  text-center">Desenvolvedor Fullstack</div>

                                                <div class="row d-flex justify-content-center">
                                                    <a class="mr-3 mt-3 " href="https://github.com/ThiagaoCode"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/github.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>

                                                    <a class="mr-3 mt-3" href="https://www.linkedin.com/in/thipedroso/"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/linkedin.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>


                                                </div>


                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-1"></div>






                                </div>



                            </div>

                        </div>


                    </div>





                    <div class=" mb-3">

                        <div class="row d-flex justify-content-center">

                            <div class="col-md-12  ">

                                <div class="card-deck ">


                                    <div class="col-md-1"></div>

                                    <div class="col-md-3 d-flex justify-content-center">

                                        <div>

                                            <div class="row d-flex justify-content-center">
                                                <div class="zoom img1 img  d-flex align-itemscenter">

                                                    <img src="../../assets/img/imgThiagao/thi generation 02 IMG_2857.JPG" alt=""
                                                        class="img ">

                                                </div>
                                            </div>

                                            <div class="row d-flex align-items-center">

                                                <div class="name text-center">Thiago Pedroso</div>

                                                <div class="title  text-center">Desenvolvedora Fullstack</div>

                                                <div class="row d-flex justify-content-center">
                                                    <a class="mr-3 mt-3 " href="https://github.com/ThiagaoCode"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/github.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>

                                                    <a class="mr-3 mt-3" href="https://www.linkedin.com/in/thipedroso/"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/linkedin.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>
                                                </div>


                                            </div>

                                        </div>

                                    </div>


                                    <div class="col-md-3  d-flex justify-content-center">

                                        <div>

                                            <div class="row d-flex justify-content-center">
                                                <div class="zoom img1 img  d-flex align-itemscenter">

                                                    <img src="../../assets/img/imgThiagao/thiago.jpg" alt="" class="img ">

                                                </div>
                                            </div>

                                            <div class="row d-flex align-items-center">

                                                <div class="name text-center">Thiago Pedroso</div>

                                                <div class="title  text-center">Desenvolvedora Fullstack</div>

                                                <div class="row d-flex justify-content-center">
                                                    <a class="mr-3 mt-3 " href="https://github.com/ThiagaoCode"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/github.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>

                                                    <a class="mr-3 mt-3" href="https://www.linkedin.com/in/thipedroso/"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/linkedin.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>
                                                </div>

                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-md-3  d-flex justify-content-center">

                                        <div>

                                            <div class="row d-flex justify-content-center">
                                                <div class="zoom img1 img  d-flex align-itemscenter">

                                                    <img src="../../assets/img/imgThiagao/IMG_20190903_172023111.jpg" alt="" class="img ">

                                                </div>
                                            </div>

                                            <div class="row d-flex align-items-center">

                                                <div class="name text-center">Thiago Pedroso</div>

                                                <div class="title  text-center">Desenvolvedor Fullstack</div>

                                                <div class="row d-flex justify-content-center">
                                                    <a class="mr-3 mt-3 " href="https://github.com/ThiagaoCode"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/github.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>

                                                    <a class="mr-3 mt-3" href="https://www.linkedin.com/in/thipedroso/"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/linkedin.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>
                                                </div>


                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-1"></div>



                                </div>



                            </div>

                        </div>

                    </div>











                </div>





            </div>


        </div>




        <a class="carousel-control-prev " style="width: 20px;" href="#carouselExampleIndicators" role="button"
            data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next " style="width: 20px;" href="#carouselExampleIndicators" role="button"
            data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>





    </div>

</div>